@model project.Models.ShopViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Categories Form</title>
    <link rel="icon"
          href="assets/img/kaiadmin/favicon.ico"
          type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
          rel="stylesheet" />

    <!-- Fonts and icons -->
    <script src="~/adminassests/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                urls: ["assets/css/fonts.min.css"],
            },
            active: function () {
                sessionStorage.fonts = true;
            },
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/adminassests/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/adminassests/css/plugins.min.css" />
    <link rel="stylesheet" href="~/adminassests/css/kaiadmin.min.css" />

    <script src="~/assadminassestsets/js/core/jquery-3.7.1.min.js"></script>
    <script src="~/adminassests/js/core/popper.min.js"></script>
    <script src="~/adminassests/js/core/bootstrap.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="~/adminassests/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Chart JS -->
    <script src="~/adminassests/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparkline/2.1.2/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="~/adminassests/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="~/adminassests/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="~/adminassests/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="~/adminassests/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="~/adminassests/js/plugin/jsvectormap/world.js"></script>

    <!-- Sweet Alert -->
    <script src="~/adminassests/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Kaiadmin JS -->
    <script src="~/adminassests/js/kaiadmin.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>



    <script>
        $("#lineChart").sparkline([102, 109, 120, 99, 110, 105, 115], {
            type: "line",
            height: "70",
            width: "100%",
            lineWidth: "2",
            lineColor: "#177dff",
            fillColor: "rgba(23, 125, 255, 0.14)",
        });

        $("#lineChart2").sparkline([99, 125, 122, 105, 110, 124, 115], {
            type: "line",
            height: "70",
            width: "100%",
            lineWidth: "2",
            lineColor: "#f3545d",
            fillColor: "rgba(243, 84, 93, .14)",
        });

        $("#lineChart3").sparkline([105, 103, 123, 100, 95, 105, 115], {
            type: "line",
            height: "70",
            width: "100%",
            lineWidth: "2",
            lineColor: "#ffa534",
            fillColor: "rgba(255, 165, 52, .14)",
        });
    </script>
</head>
<body>
@Html.Partial("adminHeader");

<div class="container mt-5">
    <h2 class="text-center mb-4">Edit Shop</h2>



    <form method="post" enctype="multipart/form-data" class="border p-4 rounded shadow mx-5 my-4">
        <div class="form-group mb-3">
            <label for="ShopName">Shop Name</label>
            <input type="text" class="form-control" id="ShopName" name="ShopName" required value="@Model.Shop.ShopName">
        </div>
        <div class="form-group mb-3">
            <label for="Description">Description</label>
            <input type="text" class="form-control" id="Description" name="Description" required value="@Model.Shop.Description">
        </div>
        <div class="form-group mb-3">
            <label for="Description">Location</label>
            <input type="text" class="form-control" id="Description" name="Location" required value="@Model.Shop.Location">
        </div>
        <div class="form-group mb-3">
            <label for="Description">Phone</label>
            <input type="text" class="form-control" id="Description" name="Phone" required value="@Model.Shop.Phone">
        </div>
        <div class="form-group mb-3">
            <label for="Description">Email</label>
            <input type="text" class="form-control" id="Description" name="Email" required value="@Model.Shop.Email">
        </div>
        <div class="form-group mb-3">
            <label for="Description">StoreHours</label>
            <input type="text" class="form-control" id="Description" name="StoreHours" required value="@Model.Shop.StoreHours">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Select Category</label>
            <select id="category" name="category" class="form-select" required>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.CategoryID" selected>@category.CategoryName</option>
                }
            </select>
        </div>

        <div class="mb-3">
            <label for="floor" class="form-label">Select Floors</label>
            <select id="floor" name="floor" class="form-select" required>
                @foreach (var floor in Model.Floors)
                {
                    <option value="@floor.FloorID" selected>@floor.Description</option>
                }
            </select>
        </div>


        <div class="form-group mb-3">
            <label for="card">Upload Card Image</label>
            <input type="file" class="form-control" id="card" name="CardImage">
            @if (!string.IsNullOrEmpty(Model.Shop.ImageURL))
            {
                <p>Current Card Image: <img src="~/shopimages/" alt="Card Image" style="width: 100px; height: auto; margin-top:20px" /></p>
            }
        </div>
        <div class="form-group mb-3">
            <label for="image">Upload Images</label>
            <input type="file" class="form-control" id="image" name="Images" multiple>
            @if (Model.Shop.ShopImages != null && Model.Shop.ShopImages.Any())
            {
                <p>Current Images:</p>
                @foreach (var imagePath in Model.Shop.ShopImages)
                {
                    <img src="~/shopimages/@imagePath.ImageURL" alt="Shop Image" style="width: 100px; height: auto; margin-left:10px" />
                }
            }
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Update Shop</button>
        </div>
    </form>
</div>
</body>
</html>